/******************************
*
* BYOB Website Stylesheet
*
*******************************/

/** body **/
body {
    background: #080808;
    font-family: courier new;
    text-align: center;
    color: #899CA1;
}
@font-face
{
    font-family: eightbit;
    src: url(8-BIT_WONDER.TTF);
}

/** text **/
a {
    text-decoration: none;
}
#schedule a {
    color: #899CA1;
}
#schedule a:hover {
    color: #7F62B3;
}
a.link {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #BF85CC;
}
a.link:hover {
    color: #914E89;
}

/** title **/
#title-container {
    width:100%;
    margin: 50px 0 40px 0;
    text-align: center;
}
#title-left {
    font-family: helvetica;
    font-weight: bold;
    font-size:80px;
    color: #53A6A6; /*#E5B0FF;**/
    text-shadow: -2px 2px 2px #287373;
}
#title-right {
    font-family: eightbit, courier new, monospace, sans-serif;
    font-weight: normal;
    font-size: 70px;
    color: #7F62B3; /** #A3D572; #78cc78; */
    text-shadow: -2px 2px 3px #5E468C;
}
#meeting-info {
    font-size: 12px;
    color: #CF4F88;
}

/** menu **/
#menu {
}

/** schedule **/
#schedule-header {
    color: #BF85CC;
}

#schedule {
    width: 930px;
    white-space: nowrap;
    font-size: 15px;
    font-family: verdana, bitstream vera sans, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    line-height: 1.5;
}

#schedule > ul {
    text-align: left;
    list-style-type: none;
}

#schedule .date {
    display: inline-block;
    width: 50px;
    font-weight: bold;
    color: #47959E;
    text-align: right;
    padding-right: 25px;
}

#current, #current a {
    color: #b8d2d9;
    font-weight: bold;
}

#current .date {
    color: #CF4F88;
}

/** contact */
#contact-info {
    width: 100%;
    margin-top: 50px;
}

